<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.day_28.station.dao.ITicketDao">

    <resultMap type="com.day_28.station.entity.Ticket" id="ticketMap">
        <!-- property对应实体类的属性名称，column为数据库结果集的列的名称 -->
        <result column="id" property="id"/>
        <result column="start_station" property="startStation"/>
        <result column="stop_station" property="stopStation"/>
        <result column="departure_time" property="departureTime"/>
        <result column="price" property="price"/>
        <result column="ticket_num" property="ticketNum"/>
        <result column="route_id" property="routeId"/>
    </resultMap>

    <insert id="addTicket"  parameterType="Ticket" >
        INSERT INTO ticket
        (start_station, stop_station, departure_time, price,ticket_num, type, route_id)
        VALUES (#{startStation}, #{stopStation}, #{departureTime}, #{price}, #{ticketNum}, #{type}, #{routeId})
    </insert>

    <delete id="deleteTicket" parameterType="Ticket" >
        DELETE FROM ticket WHERE id=#{id}
    </delete>

    <update id="updateTicket" parameterType="Ticket">
        UPDATE ticket SET start_station=#{startStation}, stop_station=#{stopStation}, departure_time=#{departureTime},
         price=#{price}, ticket_num=#{ticketNum}, type=#{type}, route_id=#{routeId} WHERE id=#{id}
    </update>

    <select id="queryAllTicket" resultType="Ticket" resultMap="ticketMap">
        SELECT id, start_station, stop_station, departure_time, price, ticket_num, type, route_id FROM ticket
    </select>

    <select id="count" parameterType="com.day_28.station.queryEntity.TicketQueryObj" resultType="int">
        SELECT count(1) FROM ticket
        <where>
            <if test="startStation!=null and startStation!=''">
                AND start_station=#{startStation}
            </if>
            <if test="stopStation!='' and stopStation!=null ">
                AND stop_station=#{stopStation}
            </if>
        </where>
    </select>

    <select id="queryByInfo" resultType="Ticket" parameterType="com.day_28.station.queryEntity.TicketQueryObj" resultMap="ticketMap">
        SELECT id, start_station, stop_station, departure_time, price, ticket_num, type, route_id FROM ticket
        <where>
            <if test="startStation!=null and startStation!=''">
                AND start_station LIKE CONCAT('%',#{startStation},'%')
            </if>
            <if test="stopStation!='' and stopStation!=null ">
                AND stop_station LIKE CONCAT('%',#{stopStation},'%')
            </if>
        </where>
        <if test="pageSize!=null and startIndex!=null ">
            LIMIT #{startIndex}, #{pageSize}
        </if>

    </select>

    <select id="queryById" resultType="Ticket" resultMap="ticketMap">
        SELECT id, start_station, stop_station, departure_time, price, ticket_num,type, route_id FROM ticket
        WHERE id=#{id}
    </select>
</mapper>