<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.day_28.station.dao.IUserDao">
    <insert id="addUser" parameterType="User">
        INSERT INTO user
        (user_name, password, phone, identity_card, state) VALUES
        (#{userName}, #{password}, #{phone}, #{identityCard}, #{state})
    </insert>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE user SET user_name=#{userName}, password=#{password},
        phone=#{phone}, identity_card=#{identityCard}, state=#{state} WHERE id=#{id}
    </update>

    <select id="queryAllUser" resultType="User">
        SELECT id, user_name userName, password, phone, identity_card identityCard, state FROM user
    </select>

    <select id="queryByInfo" resultType="User">
        SELECT id, user_name userName, password, phone, identity_card identityCard, state FROM user
        <where>
            <if test="userName!=null and userName!=''">
                AND user_name LIKE CONCAT('%',#{userName},'%' )
            </if>
            <if test="identityCard!=null and identityCard!=''">
                AND identity_card LIKE CONCAT('%',#{identityCard},'%' )
            </if>
            <if test="phone!=null and phone!=''">
                AND phone LIKE CONCAT('%',#{phone},'%' )
            </if>
        </where>
    </select>

    <select id="queryByName" resultType="User">
        SELECT id, user_name userName, password, phone, identity_card identityCard, state FROM user WHERE user_name = #{userName}
    </select>

    <select id="queryById" resultType="User">
        SELECT id, user_name userName, password, phone, identity_card identityCard, state FROM user WHERE id = #{id}
    </select>
</mapper>