<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--日志管理-->
    <bean id="webAspectLog" class="com.station.aop.WebAspectLog"/>

    <bean id="ResourceAop" class="com.station.aop.ResourceAop"/>

    <aop:config>
        <aop:aspect ref="webAspectLog">
            <!--地点:方法-->
            <aop:pointcut id="Pointcut1" expression=" execution(* com.station.controller.portal.*Controller.*(..) )"/>

            <aop:before method="beforeLog" pointcut-ref="Pointcut1"/>

            <aop:after-returning method="afterLog" pointcut-ref="Pointcut1" returning="returnObject"/>

        </aop:aspect>
    </aop:config>

    <aop:config>
        <aop:aspect ref="ResourceAop">
            <!--地点:方法-->
            <aop:pointcut id="Pointcut2" expression=" execution(* com.station.controller.portal.*Controller.*(..) )"/>

            <aop:before method="beforeResource" pointcut-ref="Pointcut2"/>

        </aop:aspect>
    </aop:config>



</beans>